@import "../sass/mixins.scss";


.topnav {
    margin-bottom: 2%;
    @include flex(center, space-around, row);
    background-color:rgb(50, 53, 53);
    

    .img {
        padding-top: 2px;
        padding-bottom: 2px;
         max-width: 50px;
        max-height: 50px;
         &:hover {
                      color: rgb(20, 20, 3);
           background-color: coral;
           box-shadow: 0 0 4px 3px #e8cea9;
        }
    }

    .home {
        color:rgb(225, 155, 63);
        font-size: 22px;
        text-decoration: none;
        &:hover {
            
            text-decoration: none;
        }

    }

    .activity {
        color: white;
        font-size: 22px;
        text-decoration: none;
    }

    .pathActivity {
        display: flex;
        width: 55%;

        .home {
            margin: auto;
            font-size: 22px;
        }
    }

    input {
        padding-top: 6px;
        padding-bottom: 6px;
        border: none;
        font-size: 15px;
        border-radius: 20px;
        box-shadow: 8px 8px 5px -4px rgba(155, 154, 154, 0.81);
        margin: 10px;
    }

    .search {
        .submit {
            color: black;
            position: relative;
            top: 2px;
            left: -23px;
            margin: 0 auto;
        }
    }
}

.error {
    color: rgb(214, 226, 48);
    font-size: 15px;
    @include flex(center, end, row);
    margin-right: 10px;
    text-transform:uppercase;
    animation-name: parpadeo;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  
    -webkit-animation-name:parpadeo;
    -webkit-animation-duration: 2s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;

    
}

//Para parpadeo de NOT FOUND
  @-moz-keyframes parpadeo{  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
  }
  
  @-webkit-keyframes parpadeo {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
     100% { opacity: 1.0; }
  }
  
  @keyframes parpadeo {  
    0% { opacity: 1.0; }
     50% { opacity: 0.0; }
    100% { opacity: 1.0; }
  }


@media (max-width: 1000px) {
    .topnav {
        @include flex(center, space-around, row);
        .activity {
            font-size: medium;
        }

        .img {
            width: 50px;
        }

        .home {
            width: 50px;
            color:  white;
            font-size: medium;
        }

        input {
            font-size: small;
            width: 150px;
            height: 25px;
        }

        .pathActivity {
            .home {
                font-size: medium;
            }
        }
    }
}
